@import "tailwindcss";
@font-face {
    font-family: machina-light;
    src: url(./assets/font/NeueMachina-Light.otf);
}
@font-face {
    font-family: machina-bold;
    src: url( ./assets/font/NeueMachina-Regular.otf);
}